
body{
    background-color: #EC7E71;
    color: #643530;
    text-align: justify;

}
p{
    color: white;
    font-weight: 100;
 

    border-radius: 100px 100px 100x 100px;
    background-color: #A85A51;  }
    div{
        background-color: #643530;
        color: white;
        display: inline-block;
        border: 2px solid black;
        text-align: center;
        height: 200px;
        width: 200px
       
    
    }
    div:hover{
        background-color: aquamarine;
      
      
    }
    p:hover{
        background-color: rgba(110, 124, 124, 0.699);
       
    }
   